.MainEditor {
  position: relative;
}

.textbox, .editor {

  position: absolute;
  top: 0;
  left: 0;

  border: none;
  min-height: 550px;
  min-width: 100%;
  padding: 10px;
  margin-top: 10px;

  resize: none;
  font-size: 20px;

}

.textbox {
  caret-color:  rgb(220,220,220);
  color: transparent;
  background: transparent;
  z-index: 2;
}

.editor {
  z-index: 1;
}