.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.ControlsBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.PanelsBox {
  margin-top: 575px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
